{% extends 'base.twig' %}

{% block title %}Git Checker - Root{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ root }}</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if directories|length > 0 %}
                <ul class="list-group">
                    {% for directory in directories %}
                        <a href="{{ path_for('show', { 'virtualHost': directory.getFilename }) }}" class="list-group-item">{{ directory.getFilename }}</a>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
